{% extends 'base.html' %}
{% block head %}
 <link rel="stylesheet" href="static/css/nav.css">{% endblock %}
{% block content %}
<hr>
<div class="" style="background-color:#d7d7d9">
 <div class="container shp-cart" style="">
<img src="static/img/cart-image.webp" class="cart-img">
  <div class="cart-text">Your cart is empty!</div>
   <div class="cart-text">Add items to it now.</div>
 <div class="cart-buttn">
     <button class="btn" onclick="location.href='home'">Shop now</button>
 </div>
</div>
</div>

{% endblock %}