<div class="container hdrbgclr" style="margin-top:90px;">
    <div class="card-deck d-flex ">
        <div class="cards  headerwidth">
            <div class="card-body text-center   ">
                <img src="static/img/grocery.webp" class="img">
            </div>
            <a href="#" class="headertxt ">Grocery</a>
        </div>
        <div class="cards headerwidth ">
            <div class="card-body text-center">
                <img src="static/img/mobile.webp" class="img">

            </div>
            <a href="#" class="headertxt">Mobiles</a>

        </div>
        <div class="cards  headerwidth">
            <div class="card-body text-center">
                <img src="static/img/fashion.jpg" class="img">

            </div>
            <a href="#" class="headertxt">Fashion</a>

        </div>
        <div class="cards  headerwidth">
            <div class="card-body text-center">
                <img src="static/img/electronics.jpeg" class="img">

            </div>
            <a href="#" class="headertxt">Electronics</a>

        </div>
        <div class="cards headerwidth ">
            <div class="card-body text-center">
                <img src="static/img/home.jpeg" class="img">

            </div>
            <a href="#" class="headertxt">Home&Furniture</a>

        </div>
        <div class="cards  headerwidth">
            <div class="card-body text-center">
                <img src="static/img/appliances.webp" class="img">

            </div>
            <a href="#" class="headertxt">Appliances</a>

        </div>
        <div class="cards  headerwidth" style="">
            <div class="card-body text-center">
                <img src="static/img/travel.webp" class="img">

            </div>
            <a href="#" class="headertxt">Travel</a>

        </div>
        <div class="cards  headerwidth" style="">
            <div class="card-body text-center">
                <img src="static/img/offer.webp" class="img">

            </div>
            <a href="#" class="headertxt">Top Offers</a>

        </div>
        <div class="cards headerwidth ">
            <div class="card-body text-center">
                <img src="static/img/toys.jpeg" class="img">

            </div>
            <a href="#" class="headertxt">Beauty,Toys&More</a>

        </div>
        <div class="cards headerwidth ">
            <div class="card-body  ">
                <img src="static/img/twowhlr.jpeg" class="img">
            </div>
            <a href="#" class="headertxt ">Two Wheelers</a>

        </div>
    </div>

</div>


