<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">

  <!-- Brand -->
  <a class="navbar-brand" style="margin-left:200px;" href="home">Flipkart</a>
 <form class="d-flex" role="search">
        <input class="form-control me-2" style="width:550px;" type="search"  placeholder="Search" aria-label="Search" >
     
 </form>
  <!-- Links -->

<ul class="navbar-nav">
    <!-- Dropdown -->
    <li class="nav-item dropdown " >
      <a class="nav-link dropdown-toggle margin " href="#" id="navbardrop" data-toggle="dropdown">
        Profile
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>

    <li class="nav-item " >
      <a class="nav-link margin" href="#">Become a seller</a>
    </li>
    <li class="nav-item " >
      <a class="nav-link margin" href="#">more</a>
    </li>
     <li class="nav-item">
<i class="fa fa-shopping-cart " style="color:white;font-size:25px;padding-left:25px;padding-top:8px;"></i>

    </li>
   <li class="nav-item">
        <a class="nav-link "style="color:white" href="cart">cart</a>
    </li>
  </ul>
</nav>